@charset "UTF-8";

header {
	box-sizing: border-box;
	width: 95%;
	height: auto;
	margin: 15px 2.5%;
	padding: 10px 20px;
	
	position: fixed;
	
	background-color: #FBA92C;
	
	border-radius: 50px;
	
	line-height: 50px;
}

header a, header a:visited {
	padding: 0px 10px;
	color: #FFFFFF;
	text-decoration: none;
}

header a:hover {
	color: #363636;
	text-decoration: underline;
}

.logo {
	font-size: 2em;
	font-family: Impact, Charcoal, sans-serif;
	float: left;
}

.logo:hover {
	text-decoration: none;
}

.userinfo {
	float: right;
	margin-right: 10px;
	
}

.greetings {
	float: left;
	font-weight: bold;
}

.hamburger {
	filter: invert(100%) brightness(200%);
	float: right;
	margin-left: 10px;
   	
   	width: 50px;
    height: auto;
    
    cursor: pointer;
}

.menu {
	background-color: #FBA92C;
	
	margin-top: 85px;
	margin-left: 50px;
	
	position: fixed;
	
	border-radius: 15px;
	
	visibility: hidden;
}

.menu > a {
	display: block;
	text-align: center;
}