<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>Mockbuster</display-name>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	
	
	<resource-ref>
	    <description>JNDI reference to a data source</description>
	    <res-ref-name>jdbc/mockbuster</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	    <res-auth>Container</res-auth>
  	</resource-ref>
  
  
  
	<welcome-file-list>
		<welcome-file>common/index.jsp</welcome-file>
	</welcome-file-list>
	
	
	
	<error-page>
        <error-code>404</error-code>
        <location>/errors/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/errors/error405.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errors/error500.jsp</location>
    </error-page>
    
    
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
	    <servlet-class>control.common.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/common/LoginServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
	    <servlet-class>control.common.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/common/LogoutServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
	    <servlet-class>control.common.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/common/SignupServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>MovieUploadServlet</servlet-name>
	    <servlet-class>control.admin.MovieUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>MovieUploadServlet</servlet-name>
        <url-pattern>/admin/MovieUploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>MovieRetrieveServlet</servlet-name>
	    <servlet-class>control.common.MovieRetrieveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>MovieRetrieveServlet</servlet-name>
        <url-pattern>/common/MovieRetrieveServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>MoviePageServlet</servlet-name>
	    <servlet-class>control.browse.MoviePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>MoviePageServlet</servlet-name>
        <url-pattern>/browse/MoviePageServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>GetOrdersServlet</servlet-name>
	    <servlet-class>control.browse.GetOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>GetOrdersServlet</servlet-name>
        <url-pattern>/browse/GetOrdersServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>GetAllOrdersServlet</servlet-name>
	    <servlet-class>control.admin.GetAllOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>GetAllOrdersServlet</servlet-name>
        <url-pattern>/admin/GetAllOrdersServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>SearchMovieTitleServlet</servlet-name>
	    <servlet-class>control.browse.SearchMovieTitleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>SearchMovieTitleServlet</servlet-name>
        <url-pattern>/browse/SearchMovieTitleServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>UpdateCartServlet</servlet-name>
	    <servlet-class>control.browse.UpdateCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/browse/UpdateCartServlet</url-pattern>
    </servlet-mapping>
	
	
	
	<filter>
		<filter-name>AccessControlFilter</filter-name>
		<filter-class>control.filters.AccessControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>control.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/common/LoginServlet</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SignupFormFilter</filter-name>
		<filter-class>control.filters.SignupFormFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SignupFormFilter</filter-name>
		<url-pattern>/common/SignupServlet</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>MovieUploadFormFilter</filter-name>
		<filter-class>control.filters.MovieUploadFormFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MovieUploadFormFilter</filter-name>
		<url-pattern>/admin/MovieUploadServlet</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>GetOrdersFilter</filter-name>
		<filter-class>control.filters.GetOrdersFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GetOrdersFilter</filter-name>
		<url-pattern>/browse/GetOrdersServlet</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>GetAllOrdersFilter</filter-name>
		<filter-class>control.filters.GetAllOrdersFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GetAllOrdersFilter</filter-name>
		<url-pattern>/admin/GetAllOrdersServlet</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>RefreshCartFilter</filter-name>
		<filter-class>control.filters.RefreshCartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RefreshCartFilter</filter-name>
		<url-pattern>/browse/cartPage.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>UpdateCartFilter</filter-name>
		<filter-class>control.filters.UpdateCartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UpdateCartFilter</filter-name>
		<url-pattern>/browse/UpdateCartServlet</url-pattern>
	</filter-mapping>

	
	
	
</web-app>